<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, user-scalable=no"
/>
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="Flanny App" />
<meta name="author" content="Peter James Flanagan" />

<title>Time After Time: {{ page.title }}</title>
<link rel="icon" type="image/png" href="" sizes="16x16" />

<!-- Style -->
<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">

<!-- Preconnect Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<!-- Social -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:url" content="" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:image:secure_url" content="{{ page.image }}" />

<!-- Twitter -->
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="flanny.app" />
<meta name="twitter:creator" content="" />
<meta name="twitter:image" content="{{ page.image }}" />

<!-- TODO: analytics -->