$headerHeight: 64px;
$footerHeight: 80px;

#noise {
  background: url(/assets/noise.png);
  height: 100%;
  max-width: 100%;
  opacity: .6;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 201;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: $headerHeight;
  background: $blackTransparent;
  border-bottom: 1px solid $backgroundLight;
  backdrop-filter: blur(24px);

  .header-content {
    margin: 0 auto;
    max-width: 820px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 32px;

    .title {
      font-family: $americanCaptain;
      color: #fff;
      font-size: 34px;
      margin-left: 24px;
      margin-top: 8px;
    }
  }


}

#content-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;

  #content-sheet {
    min-height: 100vh;
    width: 100vw;
    background: $backgroundDark;
    padding: $headerHeight 0 80px;

    #content-holder {
      margin: 0 auto;
      max-width: 820px;
      padding: 24px;
      overflow-x: hidden;
    }
  }

  #content-gap {
    height: $footerHeight;
    width: 100vw;
    pointer-events: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  height: 200px;
  width: 100vw;
  background: $black;

  .content {
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: $whiteTransparent;
    padding: 20px 12px;
    line-height: 22px;
  }
}